APP_PORT=8080
DB_PORT=3306

# Database Settings
MYSQL_ROOT_PASSWORD=db_root_password
MYSQL_DATABASE=my_media_library
MYSQL_USER=symfony
MYSQL_PASSWORD=secret

# System Settings
TIMEZONE=Europe/Berlin

NODE_VERSION=18.17.0
NVM_VERSION=0.39.3
XDEBUG_VERSION=3.2.0
