APP_ENV=dev
APP_SECRET=secret

DATABASE_URL="mysql://symfony:secret@db/my_media_library?serverVersion=8.0.22"

THETVDB_BASE_URI=https://api4.thetvdb.com/v4/
THETVDB_TOKEN=token
THETVDB_APIKEY=key
THETVDB_PIN=pin

TVSHOWS_BASE_DIRECTORY="/"
