APP_ENV=dev
APP_SECRET=f9c4e7b83d351b548fd5896c597fae0b

DATABASE_URL="mysql://user:password@host:port/database?serverVersion=8&charset=utf8mb4"

THETVDB_BASE_URI=https://api4.thetvdb.com/v4/
THETVDB_TOKEN=
THETVDB_APIKEY=
THETVDB_PIN=

TVSHOWS_BASE_DIRECTORY="/"
